<mat-form-field class="h-full w-full" floatLabel="always">
  <input matInput name="sms-code" [formControl]="smsCodeFormControl" maxlength="4" minlength="4" required placeholder="验证码">
  @if (toSelf) {
    <button type="button" (click)="send()" matSuffix mat-button class="mr-2">
      {{text}}
    </button>
  } @else {
    <button type="button" [disabled]="!phoneNumber || !validatePhoneNumber(phoneNumber) || disabled" (click)="send()" matSuffix mat-button class="mr-2">
      {{text}}
    </button>
  }
</mat-form-field>
