<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
         alt="Your Company">
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <form class="space-y-6" (ngSubmit)="formGroup.valid && register()" [formGroup]="formGroup">
        <mat-form-field class="w-full">
          <mat-label>用户名</mat-label>
          <input matInput name="username" [formControl]="formGroup.controls.username" required placeholder="用户名">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>法定名称</mat-label>
          <input matInput name="legalName" [formControl]="formGroup.controls.legalName" placeholder="法定名称">
          <mat-hint>身份证名称</mat-hint>
        </mat-form-field>

        <div class="flex flex-row">
          <mat-form-field class="[&>div]:rounded-r-none w-3/12">
            <mat-select required placeholder="国际区号" [formControl]="formGroup.controls.countryCode">
              <mat-option *ngFor="let item of countryCodes" [value]="item">{{ item.dial }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="[&>div]:rounded-l-none w-9/12">
            <mat-label>手机号</mat-label>
            <input matInput name="phoneNumber" [formControl]="formGroup.controls.phoneNumber" required
                   placeholder="手机号">
          </mat-form-field>
        </div>

        <mat-form-field class="w-full">
          <mat-label>密码</mat-label>
          <input matInput name="password" type="password" [formControl]="formGroup.controls.password" required
                 placeholder="密码">
        </mat-form-field>

        <div class="flex items-center justify-between">
          <div class="flex items-center leading-6">
            <a routerLink="/passport/login">登录已有账号</a>
          </div>
        </div>

        <div>
          <button type="submit"
                  class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
