<mat-form-field class="w-full">
  <mat-label>{{label}}</mat-label>
  <mat-select [required]="required" [placeholder]="label" [formControl]="countryCodeControl">
    @for (item of countryCodes; track item) {
      @if (labelType === 'officialNameCn') {
        <mat-option [value]="item">
          {{item.officialNameCn}}
        </mat-option>
      } @else {
        <mat-option [value]="item.currencyAlphabeticCode">
          {{ enumTranslate[item.currencyAlphabeticCode] }}
        </mat-option>
      }
    }
  </mat-select>
</mat-form-field>
