<div class="h-full flex items-center">
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2 w-full">
    <div
      class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6 flex gap-2 flex-col justify-center items-center">
      <dt class="">
        logo
      </dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
        通过GitHub认证
      </dd>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
        <a mat-flat-button [href]="verifyForGithub">开始验证</a>
        <!--/create/open-source-community/apply/github-->
      </dd>
    </div>
    <div
      class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6 flex gap-2 flex-col justify-center items-center">
      <dt class="truncate text-sm font-medium text-gray-500">
        logo
      </dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
        通过Gitee认证
      </dd>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
        <button mat-flat-button>开始验证 (coming soon)</button>
      </dd>
    </div>
  </dl>
</div>
