<div class="flex flex-col gap-4 mt-10">
  <div class="bg-white">
    <h2 class="text-2xl font-medium">最近30天</h2>
    <div class="mx-auto max-w-7xl">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 divide-x divide-gray-300">
        <div class="bg-white py-6">
          <p class="text-sm/6 font-medium text-gray-500">收到捐赠</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-gray-900">405元</span>
          </p>
        </div>
        <div class="bg-white py-6">
          <p class="text-sm/6 font-medium text-gray-500">支出</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-gray-900">3.65元</span>
            <span class="text-sm text-gray-500">mins</span>
          </p>
        </div>
        <div class="bg-white py-6">
          <p class="text-sm/6 font-medium text-gray-500">捐赠用户</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-gray-900">3个笔</span>
          </p>
        </div>
        <div class="bg-white py-6">
          <p class="text-sm/6 font-medium text-gray-500">申请费用</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-gray-900">98笔</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
