<div class="relative isolate bg-gray-200">
  <div class="overflow-hidden relative">
    <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
      <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
        <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ organization.name }}</h1>
          <div class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
            <mat-chip-set aria-label="organization tags" class="flex gap-2">
              <mat-chip class="cursor-pointer">Two fish</mat-chip>
              @for (tag of organization.tags; track tag) {
                <mat-chip class="cursor-pointer">{{tag.name}}</mat-chip>
              }
            </mat-chip-set>
          </div>
          <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
            <a [href]="organization.website" class="text-blue-400" target="_blank" referrerpolicy="no-referrer">
              <mat-icon class="text-blue-500">link</mat-icon>
            </a>
          </p>
          <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">{{ organization.introduce }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
