<div class="flex flex-col gap-4">
  <div class="flex gap-4">
    <div class="font-bold text-3xl">选择仓库</div>
    <div class="flex gap-2 items-center font-sans" *ngIf="repoControl.value">
      {{repoControl.value[0].full_name}} <mat-icon color="accent">check</mat-icon>
    </div>
  </div>
  <mat-card appearance="raised">
    <mat-card-content>
      <div class="h-[500px] overflow-y-auto">
        @for (group of repoGroupList; track group) {
          <h3 class="text-2xl font-bold sticky top-0 repo-select-container z-10">{{group.login}}</h3>
          <mat-selection-list [multiple]="false" [formControl]="repoControl">
            @for (repo of group.repos; track repo) {
              <mat-list-option [value]="repo">{{repo.full_name}}</mat-list-option>
            }
          </mat-selection-list>
        }
      </div>
    </mat-card-content>
  </mat-card>
  <div class="flex justify-end">
    <button mat-flat-button [disabled]="!repoControl.value" (click)="next()" i18n>下一步</button>
  </div>
</div>
