<div class="relative">
  <button matButton="text" (mouseenter)="showCreateMenu = !showCreateMenu" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <span>创建社区</span>
    <mat-icon iconPositionEnd [class]="showCreateMenu ? 'rotate-180' : 'rotate-0'">keyboard_arrow_down</mat-icon>
  </button>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="showCreateMenu"
    (detach)="showCreateMenu = false"
  >
    <div
      class="w-screen max-w-md flex-auto overflow-hidden rounded-xl bg-white  text-sm/6 shadow-lg ring-1 ring-gray-900/5"
      (mouseleave)="showCreateMenu = false"
      (mouseenter)="showCreateMenu = true"
    >
      <div class="p-4">
        <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
          <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
            <mat-icon>communities</mat-icon>
          </div>
          <div>
            <a class="font-semibold text-gray-900" routerLink="/create">
              创建社区
              <span class="absolute inset-0"></span>
            </a>
            <p class="mt-1 text-gray-600">创建社区以开始接受捐赠</p>
          </div>
        </div>
        <!--<div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
          <div class="mt-1 flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
            <svg class="size-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672 13.684 16.6m0 0-2.51 2.225.569-9.47 5.227 7.917-3.286-.672ZM12 2.25V4.5m5.834.166-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243-1.59-1.59" />
            </svg>
          </div>
          <div>
            <a class="font-semibold text-gray-900" routerLink="/create/organizations">
              创建组织
              <span class="absolute inset-0"></span>
            </a>
            <p class="mt-1 text-gray-600">Speak directly to your customers</p>
          </div>
        </div>-->
      </div>
    </div>
  </ng-template>
</div>
