<div class="grid grid-cols-1 mt-10 gap-10">
  <div class="grid grid-cols-2 gap-4">
    <form class="flex flex-col gap-3 w-full"
          (ngSubmit)="formGroup.valid && save()" [formGroup]="formGroup">
      <h3>组织信息</h3>
      <os-required-hint />
      <mat-form-field floatLabel="always" class="w-full">
        <mat-label>组织名称</mat-label>
        <input matInput name="title" [formControl]="formGroup.controls.name" placeholder="Open Sponsor">
      </mat-form-field>
      @if (organizationType === E_ORGANIZATION_TYPE.ORGANIZATION) {
        <mat-form-field floatLabel="always" subscriptSizing="dynamic" class="w-full">
          <mat-label>
            法定名称
            <mat-icon matTooltip="不会公开">lock</mat-icon>
          </mat-label>
          <input matInput name="legalName" [formControl]="formGroup.controls.legalName" placeholder="xxx有限公司">
          <mat-hint>营业执照注册名称, 用于收据、发票、税务、费用付款明细和其他非公开内容。法定名称仅对管理员可见。</mat-hint>
        </mat-form-field>
      }
      <mat-form-field floatLabel="always" subscriptSizing="dynamic" class="w-full">
        <mat-label>主页链接</mat-label>
        <span matTextPrefix class="text-gray-400">{{ urlOrigin }}</span>
        <input matInput name="slug" [formControl]="formGroup.controls.slug">
      </mat-form-field>
      <mat-form-field floatLabel="always" class="w-full">
        <mat-label>简介</mat-label>
        <textarea matInput name="introduce" [formControl]="formGroup.controls.introduce"></textarea>
      </mat-form-field>
      {{formGroup.controls.tags.value?.length}}
      <os-tags-field ngDefaultControl [tagsFormControl]="formGroup.controls.tags" />
      <mat-form-field floatLabel="always" class="w-full">
        <mat-label>网站链接</mat-label>
        <input matInput name="website" [formControl]="formGroup.controls.website" placeholder="https://www.example.com"/>
      </mat-form-field>
      <button mat-flat-button color="primary" class="w-full">创建组织</button>
    </form>
    <div class="invite-admin">
      <h3>邀请管理员</h3>
      <mat-card class="!shadow-none !rounded-md !bg-transparent !border !border-gray-300 hover:!border-gray-400">
        <mat-card-content>
          invite
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
