<div class="inset-0 flex h-full">
  <div class="flex flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white lg:w-72">
    <div class="flex h-16 shrink-0 items-center justify-center sticky top-0 z-10 bg-white">
      <a routerLink="/">
        <img class="h-8 w-auto" ngSrc="/logo.svg"
             alt="Your Company" width="16" height="16">
      </a>
    </div>
    <nav class="flex flex-1 flex-col">
      <div class="px-4">
        <mat-form-field class="w-full">
          <mat-select [formControl]="organizationSlugControl" (selectionChange)="changeOrganization($event)">
            <mat-option [value]="authService.authInfo()?.slug">{{authService.authInfo()?.username}}</mat-option>
            @for (mo of myOrganizations; track mo) {
              <mat-option [value]="mo.slug">{{mo.name}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      @if(organization) {
        <mat-accordion displayMode="flat" class="[&_.mat-expansion-panel]:bg-transparent [&_.mat-expansion-panel-header.mat-expanded]:h-[48px]">
          <ng-template *ngFor="let menu of menus" [ngIf]="true">
            @if (menu.children && menu.children.length > 0) {
              <mat-expansion-panel [expanded]="menu.active" class="!shadow-none !rounded-none"
                                   *ngIf="(menu.roles.length === 0 || menu.roles.includes(organization!.type))">
                <mat-expansion-panel-header>
                  <mat-panel-title class="gap-1">
                    <mat-icon>{{ menu.icon }}</mat-icon>
                    {{ menu.label }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  @for (child of menu.children; track child) {
                    <a mat-list-item
                       [disabled]="!child?.link"
                       [routerLink]="trimUrl([rootPath, child.link])"
                       [ngClass]="{'!bg-gray-200': child.active}"
                       *ngIf="!child.roles || child.roles?.includes(organization!.type)"
                       class="!cursor-pointer"
                       role="listitem"
                    >
                      {{ child.label }}
                    </a>
                  }
                </mat-list>
              </mat-expansion-panel>
            }
            @if (!menu.children || menu?.children?.length === 0) {
              <div class="mat-expansion-panel !rounded-none !shadow-none"
                   *ngIf="(menu.roles.length === 0 || menu.roles.includes(organization!.type))">
                <a [routerLink]="trimUrl([rootPath, menu.link])"
                   [ngClass]="{'!bg-gray-200': menu.active}"
                   class="!cursor-pointer w-full mat-expansion-panel-header mat-focus-indicator mat-expansion-toggle-indicator-after gap-1">
                  <mat-icon>{{ menu.icon }}</mat-icon>
                  {{ menu.label }}
                </a>
              </div>
            }
          </ng-template>
        </mat-accordion>
      }
    </nav>
  </div>

  <main class="py-10 w-full overflow-hidden">
    <div class="px-4 sm:px-6 lg:px-8">
      <router-outlet/>
    </div>
  </main>
</div>
