<form class="space-y-6" (ngSubmit)="formGroup.valid && login()" [formGroup]="formGroup">
  <os-country-phone-group ngDefaultControl
                          [phoneNumberControl]="formGroup.controls.phoneNumber"
                          [countryCodeControl]="formGroup.controls.countryCode" />

  <mat-form-field class="w-full">
    <mat-label>密码</mat-label>
    <input matInput name="password" type="password" [formControl]="formGroup.controls.password" required
           placeholder="密码">
  </mat-form-field>

  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <a routerLink="/user/register">注册账号</a>
    </div>

    <div class="text-sm leading-6">
      <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">忘记密码?</a>
    </div>
  </div>

  <div>
    <button mat-flat-button type="submit" color="primary" class="block w-full">
      Sign in
    </button>
  </div>
</form>
