@if (organizations.length === 0) {
    <button mat-button routerLink="/organizations/new">create new organization</button>
} @else {
    <div class="grid grid-cols-4 gap-2">
        @for (item of organizations; track item) {
            <mat-card>
                <mat-card-header>
                    <div class="flex flex-row justify-between items-center w-full">
                        <mat-card-title>{{item.name}}</mat-card-title>
                        <a routerLink="/" class="flex">
                            <mat-icon>settings</mat-icon>
                        </a>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div>{{item.website}}</div>
                    <div>{{item.slug}}</div>
                </mat-card-content>
            </mat-card>
        }
    </div>
}
