<div class="flex flex-col gap-4">
  <div class="rounded-lg bg-white shadow px-4 py-5">
    <section class="flex flex-col gap-4">
      <h4 class="text-xl">选择赞助方式</h4>
      <mat-button-toggle-group [(ngModel)]="paymentMethod" aria-label="payment method" class="w-full">
        @for (pm of paymentMethodOptions; track pm) {
          <mat-button-toggle class="w-1/3 py-1" [value]="pm.name">
            <img class="inline-block size-8 rounded-full" [src]="pm.icon" alt="">
            {{pm.label}}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
      <p>Chosen value is {{paymentMethod}}</p>
    </section>
  </div>

  <div class="flex justify-between">
    <a mat-stroked-button (click)="toLink('summary')">
      摘要<mat-icon>arrow_left_alt</mat-icon>
    </a>
  </div>
</div>

