<h1 mat-dialog-title>{{ data.title }}</h1>
<mat-dialog-content>
  @if (data.message) {
    <div class="py-4">
      {{ data.message }}
    </div>
  } @else {
    <div class="w-4/5 mx-auto py-4">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <div class="grid grid-cols-2 gap-4 w-full">
    <div class="w-full">
      <button class="w-full" mat-stroked-button (click)="dialogRef.close(false)">
        {{data.cancelText || "取消"}}
      </button>
    </div>
    <div class="w-full">
      <button class="w-full" mat-flat-button color="primary" [autofocus]="true" (click)="dialogRef.close(true)">
        {{data.confirmText || "确定"}}
      </button>
    </div>
  </div>
</mat-dialog-actions>
