<div class="mx-auto max-w-2xl lg:mx-0">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">贡献者</h2>
  <p class="mt-6 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus
    magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
</div>
<div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [animationDuration]="0">
    <mat-tab label="所有贡献者">所有贡献者</mat-tab>
    <mat-tab label="团队">团队</mat-tab>
    <mat-tab label="财务贡献">财务贡献</mat-tab>
  </mat-tab-group>
</div>
