<form method="dialog" class="flex flex-col gap-3 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl" (ngSubmit)="formGroup.valid && create" [formGroup]="formGroup">
  <div class="grid grid-cols-1 gap-4 px-4 py-6 sm:p-8">
    <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white px-2 text-xl font-bold text-gray-500">社区信息</span>
        </div>
      </div>
    </div>
    <required-hint />
    <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-8">
      <div class="w-full">
        <mat-form-field subscriptSizing="dynamic" class="w-full" appearance="outline">
          <mat-label>
            社区(项目)名称
          </mat-label>
          <input matInput name="name" [formControl]="formGroup.controls.name">
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field floatLabel="always" subscriptSizing="dynamic" class="w-full" appearance="outline">
          <mat-label>主页链接</mat-label>
          <span matTextPrefix>{{ urlOrigin }}</span>
          <input matInput name="slug" [formControl]="formGroup.controls.slug">
        </mat-form-field>
      </div>
    </div>
    <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>介绍你的社区主要工作</mat-label>
        <textarea matInput name="introduce" [formControl]="formGroup.controls.introduce"></textarea>
      </mat-form-field>
    </div>
    <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>设置社区标签</mat-label>
        <input type="text"
               aria-label="Tags"
               name="tags"
               matInput
               [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="add($event)"
               [formControl]="formGroup.controls.tags"
               [matAutocomplete]="auto"/>

        <mat-chip-grid matTextPrefix #chipGrid aria-label="Enter fruits">
          @for (tag of tags; track tag) {
            <mat-chip-row
              (removed)="remove(tag)"
              [aria-description]="'press enter to edit ' + tag">
              {{ tag }}
              <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <mat-autocomplete autoActiveFirstOption="" (optionSelected)="selected($event)" #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white px-2 text-xl font-bold text-gray-500">社区类型</span>
        </div>
      </div>
      <div>
        Open Source Community 托管开源软件项目和相邻社区（聚会小组、教育计划和指导计划等）。您的项目主要关注点是什么？
      </div>
    </div>
    <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8">
      <div class="relative">
        <mat-radio-group [formControl]="communityTypeControl" aria-label="Select an option">
          <div class="grid grid-cols-2 gap-2">
            <div (click)="selectCodeType()"
                 [ngClass]="{'!border-indigo-500': communityTypeControl.getRawValue() === 'code'}"
                 class="code bg-gray-200 rounded-md p-4 cursor-pointer border-2 border-transparent">
              <div class="flex flex-wrap gap-2">
                <img ngSrc="/logo.svg" alt="" width="40" height="40">
                <mat-radio-button value="code">代码项目</mat-radio-button>
              </div>
              <div class="mt-2 bg-gray-100 rounded-md p-2 text-sm">描述</div>
            </div>
            <div (click)="selectCommunityType()"
                 [ngClass]="{'!border-indigo-500': communityTypeControl.getRawValue() === 'community'}"
                 class="community bg-gray-200 rounded-md p-4 cursor-pointer border-2 border-transparent">
              <div class="flex flex-wrap gap-2">
                <img ngSrc="/logo.svg" alt="" width="40" height="40">
                <mat-radio-button value="community">其他社区</mat-radio-button>
              </div>
              <div class="mt-2 bg-gray-100 rounded-md p-2 text-sm">描述</div>
            </div>
          </div>
        </mat-radio-group>
      </div>
    </div>
    <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8">
      <mat-accordion displayMode="flat">
        <mat-expansion-panel class="!shadow-sm" #codePanel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              代码社区介绍
              <span *ngIf="communityTypeControl.getRawValue() === 'community'"> (可选)</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grid grid-cols-1 gap-2">
            <div>
              <mat-form-field floatLabel="always" class="w-full" appearance="outline">
                <mat-label>项目链接</mat-label>
                <span matTextPrefix>https://</span>
                <input matInput name="website" [formControl]="formGroup.controls.website" placeholder="github.com/org/repo"/>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>开源协议</mat-label>
                <mat-select class="w-full" [formControl]="formGroup.controls.licenses">
                  @for (lic of licenses; track lic) {
                    <mat-option [value]="lic">{{lic.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>额外的许可证信息补充</mat-label>
                <textarea matInput name="additionalLicenses" [formControl]="formGroup.controls.additionalLicenses"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="!shadow-sm" #communityPanel>
          <mat-expansion-panel-header >
            <mat-panel-title>
              其他社区介绍
              <span *ngIf="communityTypeControl.getRawValue() === 'code'"> (可选)</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>你有多少成员？</mat-label>
                <input matInput type="number" name="memberAmount" [formControl]="formGroup.controls.amountOfMembers" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>社区的以往事件信息</mat-label>
                <textarea matInput name="previousEvents" [formControl]="formGroup.controls.previousEvents"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="grid w-full grid-cols-1 gap-x-6 gap-y-8">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white px-2 text-xl font-bold text-gray-500">你的团队</span>
        </div>
      </div>
      <div i18n>
        使用email邀请成员
      </div>
    </div>
  </div>
  <div class="flex gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
    <button type="submit" mat-flat-button class="w-full">申请</button>
  </div>
</form>
