<div class="w-full px-6 lg:px-8 grid grid-cols-1 gap-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-pretty text-2xl font-semibold tracking-tight text-gray-900 sm:text-4xl">我的捐款</h2>
  </div>
  <os-date-filter />

  <div class="flex flex-col gap-2">
    <div class="count text-gray-500 text-sm flex items-center">
      <div>累计捐赠：1000元，当前有4个 <a mat-button matTooltip="指周期性捐款" class="!text-sm">活跃 <sup>?</sup> </a> 的捐款</div>
    </div>
    <div class="table-list bg-gray-50 p-8 rounded-md">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="whenCreated">
          <th mat-header-cell *matHeaderCellDef> 日期 </th>
          <td mat-cell *matCellDef="let element"> {{element.whenCreated | date:"yyyy-MM-dd"}} </td>
        </ng-container>

        <ng-container matColumnDef="totalAmount">
          <th mat-header-cell *matHeaderCellDef> 金额 </th>
          <td mat-cell *matCellDef="let element">
            {{element.totalAmount}}
          </td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef>货币</th>
          <td mat-cell *matCellDef="let element">
            {{element.currency.currencyAlphabeticCode | translate}}
          </td>
        </ng-container>

        <ng-container matColumnDef="organization">
          <th mat-header-cell *matHeaderCellDef> 捐给的社区 </th>
          <td mat-cell *matCellDef="let element">
            <a matButton [routerLink]="['/', element.organization.name]" target="_blank">
              {{element.organization.name}}
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:!bg-gray-200/60"></tr>
      </table>
    </div>
  </div>
</div>
