<mat-card appearance="outlined" class="overflow-hidden">
  <mat-card-header class="bg-gray-100 !pb-10" blob="accent" [backgroundSize]="['200%', '200%']">
    <mat-card-title>
      <a [routerLink]="['/', org.slug]" target="_blank">
        {{ org.name }}
      </a>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="py-3">
      <div class="flex flex-row gap-4">
        <div>类型： {{ org.type | translate }}</div>
      </div>
      <div>{{ org.tags }}</div>
      <div>贡献者数量</div>
      <div>累计筹集资金</div>
      <div>介绍： {{ org.description }}</div>
    </div>
  </mat-card-content>

  <mat-card-actions class="flex justify-end">
    <a matButton [routerLink]="['/', org.slug]" target="_blank">查看 <mat-icon iconPositionEnd>arrow_outward</mat-icon> </a>
  </mat-card-actions>
</mat-card>
