<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <div class="flex justify-center">
      <img ngSrc="/logo.svg" alt="Your Company" width="65" height="65">
    </div>
    <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <form class="space-y-6" (ngSubmit)="formGroup.valid && login()" [formGroup]="formGroup">
        <mat-form-field class="w-full">
          <mat-label>账号</mat-label>
          <input matInput name="account" [formControl]="formGroup.controls.account" required placeholder="账号">
          <mat-hint>使用用户名/邮箱/手机号</mat-hint>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>密码</mat-label>
          <input matInput name="password" type="password" [formControl]="formGroup.controls.password" required
                 placeholder="密码">
        </mat-form-field>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <a routerLink="/passport/register">注册账号</a>
          </div>

          <div class="text-sm leading-6">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">忘记密码?</a>
          </div>
        </div>

        <div>
          <button type="submit"
                  class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
