<h2 mat-dialog-title>
  捐赠等级 <os-required-hint />
</h2>
<mat-dialog-content class="mat-typography">
  <div class="flex flex-row gap-4 flex-nowrap">
    <div class="w-8/12 my-1">
      <form #form class="grid grid-flow-row-dense grid-cols-1 gap-1 w-full" (ngSubmit)="formGroup.valid && save()"
            [formGroup]="formGroup">
        <mat-form-field class="w-full">
          <mat-label>捐赠类型</mat-label>
          <mat-select [formControl]="formGroup.controls.type" required>
            @for (type of E_TIER_TYPE | enumerated; track type) {
              <mat-option [value]="type">{{ type | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>名称</mat-label>
          <input matInput formControlName="name" [formControl]="formGroup.controls.name" required/>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>描述（最长500字）</mat-label>
          <textarea matInput formControlName="description" [formControl]="formGroup.controls.description"></textarea>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>捐赠金额</mat-label>
          <input matInput formControlName="amount" type="number" [formControl]="formGroup.controls.amount" required/>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>捐赠周期</mat-label>
          <mat-select [formControl]="formGroup.controls.interval" required>
            @for (interval of E_INTERVAL | enumerated; track interval) {
              <mat-option [value]="interval">{{ interval | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (formGroup.controls.interval.value !== E_INTERVAL.FLEXIBLE) {
          <mat-form-field class="w-full">
            <mat-label>捐赠金额类型</mat-label>
            <mat-select [formControl]="formGroup.controls.amountType" required>
              @for (amount_type of E_AMOUNT_TYPE | enumerated; track amount_type) {
                <mat-option [value]="amount_type">{{ amount_type | translate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @if (formGroup.controls.amountType.value === E_AMOUNT_TYPE.FLEXIBLE || formGroup.controls.interval.value === E_INTERVAL.FLEXIBLE) {
          <h3>预设金额</h3>
          <div class="grid grid-cols-3 gap-1">
            @for (item of this.formGroup.controls.presets.controls; track item) {
              <mat-form-field class="w-full">
                <mat-label>金额</mat-label>
                <input matInput
                       type="number"
                       min="0"
                       max="90000"
                       [formControl]="item"
                       [required]="formGroup.controls.amountType.value === E_AMOUNT_TYPE.FLEXIBLE || formGroup.controls.interval.value === E_INTERVAL.FLEXIBLE"/>
              </mat-form-field>
            }
          </div>
          <mat-form-field class="w-full">
            <mat-label>最小金额</mat-label>
            <input matInput
                   formControlName="minimumAmount"
                   type="number"
                   [formControl]="formGroup.controls.minimumAmount"
                   [required]="formGroup.controls.amountType.value === E_AMOUNT_TYPE.FLEXIBLE || formGroup.controls.interval.value === E_INTERVAL.FLEXIBLE"/>
          </mat-form-field>
        }
        <os-country-select
          label="接受货币"
          ngDefaultControl
          [required]="true"
          labelType="currencyAlphabeticCode"
          [countryCodeControl]="formGroup.controls.currency"
        />
        @if (formGroup.controls.type.value === E_TIER_TYPE.PRODUCT) {
          <mat-form-field class="w-full">
            <mat-label>库存</mat-label>
            <input matInput
                   formControlName="maxQuantity"
                   type="number"
                   [required]="formGroup.controls.type.value === E_TIER_TYPE.PRODUCT"
                   [formControl]="formGroup.controls.maxQuantity"/>
          </mat-form-field>
        }
        <mat-form-field class="w-full">
          <mat-label>筹款目标</mat-label>
          <input matInput formControlName="goal" type="number" [formControl]="formGroup.controls.goal"/>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>按钮文字</mat-label>
          <input matInput formControlName="button" [formControl]="formGroup.controls.button" required/>
        </mat-form-field>
        @if(formGroup.controls.useStandalonePage.value) {
          <mat-form-field class="w-full">
            <mat-label>视频介绍链接</mat-label>
            <input matInput formControlName="videoUrl" [formControl]="formGroup.controls.videoUrl" />
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>长文字介绍（最长1000字）</mat-label>
            <textarea matInput rows="5" formControlName="longDescription" [formControl]="formGroup.controls.longDescription"></textarea>
          </mat-form-field>
        }
        <div class="w-full py-4">
          <mat-slide-toggle [formControl]="formGroup.controls.useStandalonePage">使用独立页面</mat-slide-toggle>
          <div class="text-pretty text-sm text-gray-600 py-2">
            <mat-hint>独立页面是一个小型的捐款页面，你可以额外设置一个视频地址，和更完善的介绍，并且可以分享这个独立页面。</mat-hint>
          </div>
        </div>
      </form>
    </div>
    <div class="w-4/12">
      <div class="sticky top-0 h-full max-h-[65vh] py-1">
        <os-tier-card [readonly]="true" class="h-full" [tier]="transformType(this.formGroup.value)"></os-tier-card>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-full flex justify-between">
    <button mat-flat-button class="w-4/6" color="primary" type="button" (click)="submit(form)">创建等级</button>
    <button mat-button [mat-dialog-close]="false" tabindex="0">Cancel</button>
  </div>
</mat-dialog-actions>
