/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "themes/m3";
@import "themes/fix-style";

@import "swiper/swiper-bundle.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



.material-icons {
    font-family: 'Material Symbols Rounded', serif;
    font-weight: normal;
    font-style: normal;
    color: #5f6368;
    height: auto !important;
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
