<main class="flex flex-col gap-20">
  <div class="flex justify-center w-full">
    <section class="flex flex-col gap-8 max-w-4xl">
      <div class="flex flex-row justify-center items-center h-32">
        <h1 class="text-6xl font-bold">加入你的社区!</h1>
      </div>

      <div class="text-center text-2xl">
        Open Sponsor 是一个为开源项目和长期项目服务的资金服务平台。平台为社区提供公开透明的资金筹集工具, 以及税务、资金管理，合规等服务。
      </div>
      <div class="text-center flex justify-center gap-4">
        <a href="" mat-flat-button color="primary" routerLink="/create">创建社区</a>
        <a href="" mat-stroked-button routerLink="/search">探索 Open Sponsor</a>
      </div>

      <img src="/example.svg" class="w-full rounded-md" alt="">
    </section>
  </div>

  <div class="flex justify-center w-full">
    <section class="flex flex-col gap-8 max-w-4xl">
      <div class="flex flex-col gap-2 justify-center items-center h-32">
        <h1 class="text-6xl font-bold">透明的筹集和使用资金</h1>
        <h1 class="text-2xl">
          信任源于透明，公开收入和支出，让社区成员更了解社区的发展，并做出贡献。
        </h1>
      </div>

      <div class="grid grid-cols-2 gap-2">
        <div class="rounded-sm">
          <img src="/example.svg"
               class="w-full rounded-md" alt="">
        </div>
        <div class="rounded-sm">
          <img src="/example.svg"
               class="w-full rounded-md" alt="">
        </div>
      </div>
    </section>
  </div>

  <div class="flex justify-center w-full max-w-4xl mx-auto">
    <section class="flex flex-col gap-8 w-full">
      <div class="flex flex-row justify-center items-center h-32">
        <h1 class="text-6xl font-bold">向社区做出贡献</h1>
      </div>

      <div class="grid grid-cols-4 gap-4 w-full">
        @for (item of ['资金', 'code', '管理', '财务']; track item) {
          <mat-card class="aspect-[10/14]" blob="primary" [alpha]="0.4" [backgroundSize]="['150%', '150%']" [backgroundPosition]="['120%', '120%']">
            <mat-card-content>
              {{item}}
            </mat-card-content>
          </mat-card>
        }
      </div>
    </section>
  </div>

  <div
    class="flex justify-center w-full mx-auto bg-blue-100 p-6 rounded-3xl"
    blob="primary" [alpha]="0.5" [backgroundSize]="['150%', '150%']" [backgroundPosition]="['120%', '120%']"
  >
    <section class="flex flex-col gap-8 max-w-5xl">
      <div class="flex flex-col gap-2 justify-center items-center h-32">
        <h1 class="text-6xl font-bold">托管资金</h1>
        <h1 class="text-2xl">社区无需处理繁琐的税务、法律问题、一切交给财务托管方</h1>
      </div>

      <div class="grid grid-cols-4 gap-4 w-full">
        @for (item of ['代码', '动物保护', '环境保护', '艺术创作']; track item) {
          <mat-card class="aspect-video">
            <mat-card-content>
              {{item}}
            </mat-card-content>
          </mat-card>
        }
      </div>
    </section>
  </div>

  <div class="flex justify-center w-full">
    <section class="flex flex-col gap-8 max-w-4xl">
      <div class="flex flex-col gap-2 justify-center items-center">
        <h1 class="text-6xl font-bold">被他们信任</h1>
        <div class="bg-white flex flex-col gap-4 py-12 sm:py-24">
          @for (i of [1,2]; track i) {
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
              <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                <div class="bg-black/10 px-4 aspect-square rounded-full flex justify-center items-center">
                  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://cdn.svgporn.com/logos/angular-icon.svg" alt="Transistor" width="158" height="48">
                </div>
                <div class="bg-black/10 px-4 aspect-square rounded-full flex justify-center items-center">
                  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://cdn.svgporn.com/logos/volar.svg" alt="Reform" width="158" height="48">
                </div>
                <div class="bg-black/10 px-4 aspect-square rounded-full flex justify-center items-center">
                  <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://cdn.svgporn.com/logos/x.svg" alt="Tuple" width="158" height="48">
                </div>
                <div class="bg-black/10 px-4 aspect-square rounded-full flex justify-center items-center">
                  <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://cdn.svgporn.com/logos/unocss.svg" alt="SavvyCal" width="158" height="48">
                </div>
                <div class="bg-black/10 px-4 aspect-square rounded-full flex justify-center items-center">
                  <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://cdn.svgporn.com/logos/faker.svg" alt="Statamic" width="158" height="48">
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </section>
  </div>

  <div class="flex justify-center w-full">
    <section class="flex flex-col gap-8 max-w-4xl">
      <div class="flex flex-col gap-2 justify-center items-center h-32">
        <h1 class="text-6xl font-bold">共同组成伟大社区</h1>
        <h1 class="text-2xl">第三方财务托管机构</h1>
      </div>
    </section>
  </div>

  <div class="flex justify-center w-full">
    <section class="flex flex-col gap-8 max-w-4xl">
      <div class="flex flex-col gap-2 justify-center items-center h-32">
        <h1 class="text-6xl font-bold">数据</h1>
        <h1 class="text-2xl">托管资金、托管项目</h1>
      </div>
    </section>
  </div>

</main>
