<main class="m-auto flex flex-col gap-10">
  <div class="flex justify-center w-full">
    <section class="flex flex-col gap-8 max-w-4xl">
      <div class="flex flex-row justify-center items-center h-32">
        <h1 class="text-6xl font-bold">找到你的社区!</h1>
      </div>

      <div class="text-center">
        Open Sponsor 是为长期项目服务的金融服务平台. 平台提供公开透明的资金筹集工具, 并为您提供税务、发票、资金管理等工具.
      </div>
      <div class="text-center flex justify-center gap-8">
        <a href="" mat-flat-button color="primary" routerLink="/create">创建社区</a>
        <a href="" mat-stroked-button routerLink="/explore">探索 Open Sponsor</a>
      </div>
    </section>
  </div>

  <div>
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/a0ac3d166208029.64142cddb2ac1.jpg"
         class="w-full rounded-md" alt="">
  </div>
</main>
